<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>忘记密码</title>
</head>

<body>
    <div class="box">
        <h3>重置密码</h3>
        <form action="forgetpwd" method="post" enctype="multipart/form-data">
            <p>账号：<input type="text" name="account" id="username"></p>
            <p>旧密码：<input type="password" name="password" id="old_password"></p>
            <p>新密码：<input type="password" name="cpassword" id="new_password"></p>
            <p><input class="regist-btn" type="submit" value="重置密码"></p>
        </form>
    </div>
</body>
<style>
    body {
        width: 100%;
        height: 100%;
        display: flex;
        justify-self: center;
    }

    .box {
        height: 600px;
        margin: 60px auto;
        padding: 10px;
    }

    .regist-btn {
        width: 100%;
        height: 30px;
        background-color: aqua;
    }
</style>

</html>