<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登录</title>
</head>

<body>
    <div class="box">
        {% if error != "None" %}
        <h2 color="red">{{error}}</h2>
        {% endif %}
        <h3 >自动化测试平台</h3>
        <form action="login" method="post">

            <p>账号：<input type="text" name="account" id="username"></p>
            <p>密码：<input type="password" name="password" id="password"></p>
            <p>用户类型：普通用户<input type="radio" name="type" value="2" id="type_2">
                管理员<input type="radio" name="type" value="1" id="type_1"></p>
            <p><input class="login-btn" type="submit" value="登录"></p>

        </form>
        <p>
            <a href="forgetpwd">重置密码</a>
            <a href="./regist">注册</a>
        </p>
    </div>
</body>
<style>
    body {
        width: 100%;
        height: 100%;
        display: flex;
        justify-self: center;
    }

    .box {
        height: 600px;
        margin: 60px auto;
        padding: 10px;
    }

    .login-btn {
        width: 100%;
        height: 30px;
        background-color: aqua;
    }

    h3 {
        text-align:center
    }
</style>

</html>