<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>自动化测试平台</title>
<!--    <link rel="stylesheet" href="../static/css/index.css">-->

</head>
<body>
<form action="http://127.0.0.1:5000/login" method="post">
    账号：
    <input type="text" name="username" id="username">
    <br>
    密码:
    <input type="password" name="password" id="password">
    <br>
    <input type="submit" value="登录">
<!--    <div class="loginBox">-->
<!--        <h1 id="title">帐号登录</h1>-->
<!--        <div class="textArea" name="username">-->
<!--                <input type="text" name="username" id="username" required>-->
<!--                <label for="username">用户名</label>-->
<!--        </div>-->
<!--        <div class="textArea" name=="password">-->
<!--                <input type="password" name=="password" id="password" required>-->
<!--                <label for="password">密码</label>-->
<!--        </div>-->
<!--        <div class="pass">忘记密码?</div>-->
<!--        <div id="login">登录</div>-->
<!--        <div class="singUp">-->
<!--                <p>还没有账户?</p>-->
<!--                <div class="regsiter">点击注册</div>-->
<!--        </div>-->
<!--    </div>-->

</form>
</body>
</html>

